@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #d8d8d6; 
}

.container {
  width: 100%;
  padding: 10px;
}

.wrapper {
  max-width: 605px;
  padding: 30px 0 30px;
  margin: 137px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.card {
  margin: 20px;
}

.card:hover {
  margin: 20px;
  cursor: pointer;
}

.card-text {
  margin: 7px 15px;
}

label {
  margin: 10px 0px 10px 0px;
  font-weight: bold;
}

.btn {
  margin-top: 20px;
}

.btn-icon {
  float: right;
  margin: 5px;
  margin-top: 0px !important;
}

.btn-icon:first-of-type {
  margin-right: 10px;
}

.btn-icon:hover {
  cursor: pointer;
}